<section class="py-5">
    <div class="container vh-100">
        <div class="row text-center p-2 pb-5">
            <h4>Tu carrito</h4>
        </div>
        <div class="row" *ngIf="carrito.length > 0">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of carrito; let i = index">
                    <td>{{p.nombre | titlecase}}</td>
                    <td>{{p.cantidad}}</td>
                    <td>{{p.precio | currency}}</td>
                    <td>
                        <button class="btn btn-sm btn-danger no-border" (click)="deleteProduct(i)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                  </tr>
                  
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>TOTAL</td>
                        <td>{{totalCarrito | currency}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row" *ngIf="carrito.length == 0">
            <div class="alert alert-danger" role="alert">
                No tienes productos en el carrito!
              </div>
        </div>
    </div>
</section>
