<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-12 pt-5 pb-5">
                <h2 class=" text-footer border-bottom pb-3 border-light">Tienda Ecommerce</h2>
                <ul class="list-unstyled text-footer">
                    <li>
                        <i class="bi bi-person-workspace mx-2"></i>
                        Bruno H. Ceratto
                    </li>
                    <li>
                        <i class="bi bi-geo-alt-fill mx-2"></i>
                        Santa Fe, Santa Fe - Argentina
                    </li>
                    <li>
                        <i class="bi bi-telephone-fill mx-2"></i>
                        (+54) 9 342-430-0680
                    </li>
                    <li>
                        <i class="bi bi-envelope-fill mx-2"></i>
                        cerattobruno@gmail.com
                    </li>
                    <li>
                        <i class="bi bi-linkedin mx-2"></i>
                        <a rel="sponsored" href="https://www.linkedin.com/in/bruno-ceratto-7a4531140/" target="_blank">Bruno Ceratto</a>
                    </li>
                </ul>
            </div>

        </div>

        
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        2021 Tienda Ecommerce 
                        | Designed by <a rel="sponsored" href="https://www.linkedin.com/in/bruno-ceratto-7a4531140/" target="_blank">Bruno Ceratto</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>

